<div class="bg-wrp">
  <div class="intro">
    <h3>The Superheros</h3>
    <div class="md-txt">Meet Our Team</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>


  <div class="heroes">
    <div class="hr-pro" style="margin-bottom: 200px;">
      <img src="assets/images/image1.jpg" alt="John Doe">
      <h6>John Doe</h6>
      <div class="proff">Web Designer</div>
    </div>
    <div class="hr-pro">
      <img src="assets/images/image2.jpg" alt="John Doe">
      <h6>John Doe</h6>
      <div class="proff">Graphics Designer</div>
    </div>
    <div class="hr-pro" style="margin-top: 200px;">
      <img src="assets/images/image3.png" alt="John Doe">
      <h6>John Doe</h6>
      <div class="proff">Web Designer</div>
    </div>
  </div>
</div>