.bg-wrp {
  background-image: url(/assets/images/patch315.svg);
  background-attachment: inherit;
  background-repeat: repeat-y;
  margin-top: 50px;
}

.intro {
  text-align: center !important;
}

.brnd-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  a {
    //   font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding: 0 25px 0 25px;
    font-weight: 700;
  }

  a:hover, .active{
    color: #ef5181;
    text-decoration: underline;
    text-decoration-style: solid;
    cursor: pointer;
  }
}


img{
    border-radius: 10px;
}
