<div class="bg-wrp">
  <div class="intro">
    <h3>Our Portfolio</h3>
    <div class="md-txt">Creativity is our passion</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>

  <div class="brnd-option container">
    <a class="active">All</a>
    <a>Web Design</a>
    <a>Prototyping</a>
    <a>Branding</a>
    <a>Graphics</a>
  </div>

  <div class="container">
    <div class="row">
      <img class="col-sm-3">
      <img class="col-sm-3">
      <img class="col-sm-3">
    </div>
    <div class="row">
      <img class="col-sm-4">
      <img class="col-sm-4">
    </div>
  </div>
</div>