<div class="bg-wrp">
  <div class="intro">
    <h3>Our Portfolio</h3>
    <div class="md-txt">Creativity is our passion</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>

  <div class="brnd-option container">
    <a class="active">All</a>
    <a>Web Design</a>
    <a>Prototyping</a>
    <a>Branding</a>
    <a>Graphics</a>
  </div>

  <div class="container mobi-cont">
    <div>
      <div class="img2">
        <img class="a1" src="assets/images/Am3.jpg">
        <img class="a2" src="assets/images/Am2.jpg">
      </div>
      <div class="w-100"></div>
      <img class="a3" src="assets/images/AmCar.png">
    </div>
    <div class="img3">
      <img class="a4" src="assets/images/Am1.jpg">
      <div class="w-100"></div>
      <img src="assets/images/Am4.jpg" class="a5">
    </div>
  </div>
  <div class="nv-dot">
    <a class="dot1">.</a>
    <a class="dot2">.</a>
    <a class="dot1">.</a>
  </div>
  <div class="bt-action">View All</div>
</div>