<div class="bg-wrap">
  <div class="intro">
    <h3>Pricing for You</h3>
    <div class="md-txt">Not Any Hidden Charges, Choose Your Plan</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="card cd1">
        <img src="assets/images/Group8.svg">
        <h5>Basic</h5>
        <div class="userMax">
          <p>Upto <strong>5</strong> users</p>
          <p>Max <strong>100</strong> visit/mo</p>
        </div>
        <div class="priceBTN">Start your free Trial</div>
        <h2 class="amnt"><sup>$</sup>9<sub>/mo</sub></h2>
      </div>
      <div class="card cd2">
        <img src="assets/images/Group6.svg">
        <h5>Premium</h5>
        <div class="userMax">
          <p>Upto <strong>5</strong> users</p>
          <p>Max <strong>100</strong> visit/mo</p>
        </div>
        <div class="priceBTN selected">Start your free Trial</div>
        <h2 class="amnt"><sup>$</sup>19<sub>/mo</sub></h2>
      </div>
      <div class="card cd1">
        <img src="assets/images/Group7.svg">
        <h5>Ultimate</h5>
        <div class="userMax">
          <p>Upto <strong>15</strong> users</p>
          <p>Max <strong>500</strong> visit/mo</p>
        </div>
        <div class="priceBTN">Start your free Trial</div>
        <h2 class="amnt"><sup>$</sup>29<sub>/mo</sub></h2>
      </div>
    </div>
  </div>
</div>