<div class="bg-wrp">
  <div class="intro">
    <h3>Testimonial</h3>
    <div class="md-txt">What Our Client Are Saying</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="nav-btn">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="testti-detail">
        <img src="assets/images/testi.png" alt="testifier">
        <p>Egestas magna egestas magna ipsum vitae purus ipsum primis in
          cubilia laoreet augue luctus magna aenean
          primis in augue laoreet</p>
        <small>Laura, Manager analytica</small>
        <div class="nv-dot">
          <a class="dot1">.</a>
          <a class="dot2">.</a>
          <a class="dot1">.</a>
        </div>
      </div>
      <div class="nav-btn">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>