<div class="bg-wrp">
  <div class="intro">
    <h3>Some of our Clients</h3>
    <div class="md-txt">They Trust, We Deliver</div>
    <p> An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo </p>
  </div>

  <div class="container">
    <div class="row">
      <img src="assets/images/logoa/1.png" alt="logo 1">
      <img src="assets/images/logoa/2.png" alt="logo 2">
      <img src="assets/images/logoa/3.png" alt="logo 3">
      <img src="" alt="logo 4">
    </div>
  </div>
  <div class="nv-dot">
    <a class="dot1">.</a>
    <a class="dot2">.</a>
    <a class="dot1">.</a>
  </div>
</div>