<div class="container">
  <div class="row">
    <div class="inner-wrap col-sm-2">
      <img src="assets/images/web-design.svg">
      <a>Web Design</a>
      <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor tempor enim sapien lacus cursus
        porta</p>
    </div>
    <div class="vl"></div>
    <div class="inner-wrap col-sm-2">
      <img src="assets/images/architecture.svg">
      <a>Branding</a>
      <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor tempor enim sapien lacus cursus
        porta</p>
    </div>
    <div class="vl"></div>
    <div class="inner-wrap col-sm-2">
      <img src="assets/images/computer.svg">
      <a>Graphics</a>
      <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor tempor enim sapien lacus cursus
        porta</p>
    </div>
    <div class="vl"></div>
    <div class="inner-wrap col-sm-2">
      <img src="assets/images/prototyping.svg">
      <a>Prototyping</a>
      <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor tempor enim sapien lacus cursus
        porta</p>
    </div>
  </div>

</div>