
.container-12 {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sc-part {
  margin-top: 40px;
  justify-content: space-between !important;
  img {
    width: 45rem;
  }
}
