<div class="container-12">
  <div class="sc-part col-sm-11 container">
    <div class="col-sm-4">
      <img src="assets/images/undraw_circles_y7s2.svg">
    </div>
    <div class="intro col-sm-6">
      <h3>What's HELGO</h3>
      <div class="md-txt">We Shape your ideas</div>
      <div class="md-txt"> into real life products</div>
      <p>An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo integer odio velna vitae auctor
        integer container ligula rutrum luctus risus ultrice luctus ligula congue vitae auctor magna morbi feugiat
        primis in ultrice pretium neque porta tempor enim sapien
        <br>
        <br>
        Integer container ligula rutrum luctus risus ultrice luctus ligula congue vitae auctor magna morbi
        <br>
        * feugiat primis in ultrice pretium
        <br>
        * Semper lacus cursus porta, feugiat primis in ultrice ligula risus<br>
        * Congue magna purus rutrum ultrice ullam tempor sapien gravida lacus cursus porta auctor integer congue</p>
    </div>
  </div>
</div>  
<img src="assets/images/Path314.svg">