.container-12 {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sc-part {
  margin-top: 40px;
  justify-content: space-between !important;
  img {
    width: 45rem;
  }
}

@media (max-width: 767px)  and (max-width: 900px){
  /* For desktop: */
  .mobi {
    display: none;
  }

  .intro p {
    line-height: 30px;
    font-weight: 600;
  }
}
